body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99E1D9;
    font-family: fantasy;
    
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: #F7567C;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:#5D576B;
}

@keyframes cat {
    0% {width:30vw}
    50% {width:60vw}
    100% {width:30vw}
}


img{
    width:30vw;
    height: 30vh;

}

img:hover{
    animation-name: cat;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

#red-ball{
    background-color: #FFFAE3;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    transition: width 2s, height 2s;
}

#red-ball:hover{
    width:100px;
    height:100px;
}

h1{
    color: #F7567C;
}