img {
    height: 10%;
    width: 10%;
    position:absolute;
}

p{
    font-size: 30px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

#infoButton{
    height: 5%;
    width: 5%;
    right: 0%;

}

body{   
    background-image: url(./village.webp);
}

#volume{
    font-size: 60px;
}